.so-widget-sow-slider-default-8c3401b3e1d0 .sow-slider-base .sow-slider-pagination li a {
  background: #6d6d6d;
}
.so-widget-sow-slider-default-8c3401b3e1d0 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-8c3401b3e1d0 .sow-slider-base .sow-slide-nav a {
  color: #6d6d6d;
}