.so-widget-sow-slider-default-d2b5d2a3cd81 .sow-slider-base .sow-slider-pagination li a {
  background: #969696;
}
.so-widget-sow-slider-default-d2b5d2a3cd81 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-d2b5d2a3cd81 .sow-slider-base .sow-slide-nav a {
  color: #969696;
}